@model SubscriberBase.ViewModels.PerConnectVM

@{
    ViewBag.Title = "CreatePerConnect";
}

<h2>CreatePerConenct</h2>

@using (Html.BeginForm("CreatePerConnect", "Main", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Connection</h4>

    <label for="Surname">Фамилия</label>
    <input class="form-control text-box single-line" id="Surname" name="Surname" required type="text" value="">

    <label for="Name">Имя</label>
    <input class="form-control text-box single-line" id="Name" name="Name" required type="text" value="">

    <label for="Patronymic">Отчество</label>
    <input class="form-control text-box single-line" id="Patronymic" name="Patronymic" type="text" value="">

    <label for="Birthday">Дата рождения</label>
    <input class="form-control text-box single-line" id="BirthDay" name="BirthDay" type="date" value="">

    <label for="patronymic">Дата подключения</label>
    <input class="form-control text-box single-line" id="ConnectionDay" name="ConnectionDay" type="date" value="">

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumb, "Номер телефона", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(ConnectionVM => ConnectionVM.PhoneNumb, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(ConnectionVM => ConnectionVM.PhoneNumb, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OperatorID, "Оператор", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.OperatorID, ViewBag.OperatorsList as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OperatorID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TariffID, "Тариф", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.TariffID, ViewBag.TariffsList as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TariffID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
